<div>
  <!-- <img src="/src/assets/new_-removebg-preview.png" alt=""> -->
</div>
<div class="holder">

  <div class="holder bg-news">
    <div class="padd">
      <h1 style="padding-left: 8%;color: white;">login</h1>
      <h5 style="padding-left: 7%;color: white;">Sigin Into Your Account</h5>
      <form>
        <div class="row">
          <input required type="email" ngModel name="email" id="email" #email="ngModel" placeholder="Email Address">
          <div class="alert alert-danger red" *ngIf="email.touched && !email.valid">email required</div>
        </div>
        <div class="row">
          <input required type="password" name="password" ngModel id="password" #password="ngModel"
            placeholder="Password">
          <div class="alert alert-danger red" *ngIf="password.touched && !password.valid">password required</div>
        </div>
      </form>
      <br>
      <div class="row">
        <div class="col-2">
          <button class="button" mat-flat-button routerLink="/Setting">Login</button>
        </div>
        <div class="col-2">
          <a href="" class="forget" routerLink="/Forget">Forgetpasssword?</a>
        </div><br><br><br>
        <div class="row">
          <div class="col-1">
            <hr style="width: 90px;">
          </div>
          <div class="col-1" style="padding-left: 10px; color: white;">
            Or login with </div>
          <div class="col-1">
            <hr>
          </div>
          <!-- <div class="row">
            <div class="col-sm-1">
              <i class="fa fa-google" style="color: #fff;"></i> google+
            </div>
            <div class="col-sm-1">
              <i class="fa fa-twitter" style="color: #fff;"></i> twitter
            </div>
            <div class="col-sm-1">
              <i class="fa fa-facebook" style="color: #fff;"></i> facebook
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm-1">
              <button mat-button style="background-color: white; color: black; padding-right: 5%; border-radius: 20px;">
                <i class="fa fa-google" aria-hidden="true"></i> 
                google+
              </button>
            </div>
            <div class="col-sm-1">
              <button mat-button style="background-color: white; color: black; border-radius: 20px;">
                <i class="fa fa-twitter" style="color:cornflowerblue"></i>
                twitter
              </button>
            </div>
            <div class="col-sm-1">
              <button mat-button style="background-color: white; color: black; border-radius: 20px;">
                <i class="fa fa-facebook" style="color: blue;"></i>
                facebook
              </button>
            </div>
            <!-- below change delete div when error came -->
          </div>
          <br><br><br>
            <a class="forget1"><small>Don't have account?<a class="forget2" routerLink="/Signin">Register
                  here</a></small></a><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>